<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="text-center">Log In</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" placeholder="Username">Log In</button>
                </div>
            }
        </section>
    </div>
    <div class="col-md-5 section-image" style="background-image:url('https://www.effigis.com/wp-content/uploads/2014/10/Images-Satellites-Satellite-images-Samples-Pleiades-1A-1B-EN1.jpg');"></div>
</div>