@{
    ViewBag.Title = "*************************** External Cookie Writer ***************************";
}


<div class="col-xs-12 col-sm-6 col-md-6 section-image" style="background-image:url('https://www.effigis.com/wp-content/uploads/2014/10/Images-Satellites-Satellite-images-Samples-Pleiades-1A-1B-EN1.jpg');"></div>